@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

html {
  font-family: "Amatic SC", cursive;
}

.battleGrid {
  display: grid;
  grid-template-columns: repeat(10, 22px);
  grid-template-rows: repeat(10, 22px);
  width: fit-content;
  background-color: gray;
  gap: 1px;
  border: 1px solid gray;
}

img {
  mix-blend-mode: multiply;
}
