@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Bangers";
  
}

main {
  font-family: 'Crimson Text';
}




#bgIMG {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

@media only screen and (min-width: 600px) {
  #bgIMG {
    width: 100%;
  }
}

@media only screen and (max-width: 287px){
  #introPar {
  height: 9rem;
}
}

@media only screen and (min-width: 288px) and (max-width: 371px){
  #introPar {
  height: 8rem;
}
}

@media only screen and (min-width: 372px) and (max-width: 639px) {
  #introPar {
  height: 6rem;
}
}